:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #fcfcfcd2;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Doing styles in a global sheet as an experiment.
I've had annoyances in the past when seperating components that have stand alone logic
but dependent styles (especially with relative/absolute positioning)
This isns't something I'd do in a large project but I think it will make iterating styles easier
since this is a small solo project */

/* MAIN GAME VIEW */
.main-window {
  position: relative;
  overflow: hidden;
}

.main {
  z-index: 1;
}

.static {
  z-index: 2;
  position: absolute;
  height: 200%;
  width: 200%;
  top: -50%;
  left: -50%;
  opacity: 2%;
  animation: shift 500ms steps(5) infinite;
}

@keyframes shift {
  8% {
    transform: translateX(6%);
  }
  26% {
    transform: translateX(-10%);
  }
  42% {
    transform: translateX(4%);
  }
  64% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateY(-20%);
  }
}

.info-container {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60%;
}

.info {
  width: 100%;
  color: #61ff76;
  display: flex;
  justify-content: space-between;

  span {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.message {
  padding: 0.5rem;
  margin: 2rem 0;
  background-color: rgba(0, 0, 0, 0.36);
}

.warn {
  color: rgb(243, 32, 32);
}

.report-controls {
  z-index: 3;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;

  display: flex;
  align-items: end;
  justify-content: right;
}
.reports {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.fixing {
  position: absolute;
  z-index: 4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: black;
  display: grid;
  align-items: center;
}
